
@{
    ViewBag.Title = "Index";
}

<h2>Party Invites</h2>

<p>We're going to have a party! <br />

    <img src="~/images/party-03.jpg" height="30%" width="30%"/>
    </p>

@Html.ActionLink("RSVP now", "RsvpForms")