
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <p><h2>Party Invites</h2>
        <h3> going to have a party!</h3> <br />

        <img src="~/images/party-03.jpg" height="30%" width="30%" />
    </p>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP now", "RsvpForms")
    </div>
</div>